@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Montserrat', 'Segoe UI', 'SF Pro';
  @apply m-0 p-0 box-border;
}

@layer utilities {

  /* Defining color palletes */
  .bg-dark2 {
    background-color: #352F44;
  }

  .bg-dark1 {
    background-color: #5C5470;
  }

  .bg-light2 {
    background-color: #B9B4C7;
  }

  .bg-light1 {
    background-color: #FAF0E6;
  }

  .border-dark2 {
    border-color: #352F44;
  }

  .border-dark1 {
    border-color: #5C5470;
  }

  .border-light2 {
    border-color: #B9B4C7;
  }

  .border-light1 {
    border-color: #FAF0E6;
  }
}